<h1> Edit Post! </h1>

<form id="form">
  <label for="post_title"></label>
    <input id="post_title" name="post[title]"></input>
    
  <br>
  
  <label for="post_body"></label>
    <input id="post_body" name="post[body]"></input>
  
  <br>
  
  <input class="submit" type="submit" value="Submit">
</form>